<div class="row">
  <div class="col-sm-3"><img class="thumbnail img-responsive" src="<%= @product.photo.url(:square) %>"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h1><%= @product.title %></h1>
    <hr>
    <h2><%= number_to_currency(@product.price) %></h2>
    <div class="row">
      <div class="col-sm-8">

        <% if @product.quantity > 0 %>
          <%= form_tag(add_to_cart_path(@product.id), method: "post", remote: false, 'data-type': 'html', id: 'add_to_cart_form') do %>
            <fieldset class="form-group">
              <label for="">Quantity</label>
              <%= text_field_tag :q, nil, class: 'form-control', placeholder: '1', value: '1' %>
            </fieldset>
            <%= submit_tag "Add to Cart", class: 'btn btn-primary' %>
          <% end %>
        <% else %>
        <mark>Sorry , this item is out of stock</mark>
        <% end %>
      </div>
    </div>

    <hr>
    <h4><%= @product.details %></h4>
    <hr>
    <p><b>quantity:  <%= @product.quantity %></b></p>
    <b>categories:</b> | <% @product.categories.each do |c| %> <%= link_to c.title.downcase, category_path(c) %>
    <% if @product.categories.count > 1  %> | <% end %>
    <% end %>
  </div>
  <div class="col-sm-3" id="shopping_cart"></div>
</div>
